body {
	background: #f4f4f4;
    counter-reset: my-sec-counter;
}

a {
    text-decoration: none !important;
}

.rowNo::before {
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter);
}

div#table_id_filter label input, #table_id_length label select {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

div#table_id_filter label input:focus, #table_id_length label select:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(78 115 223 / 25%);
}
div#table_id_paginate a.paginate_button.current, div#table_id_paginate .paginate_button:hover{
    color: white !important;
    border: 1px solid #4e73df;
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size: cover;
}

img {
	object-fit: cover;
}
